@{
    ViewBag.Title = "Home Page";
}
@*<script type="text/javascript" src="/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Scripts/jquery-ui-1.8.24.js"></script>
<script src="/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">*@
<script src="/Scripts/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/jquery.datetimepicker.css" />
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.js"></script>

@*<h2>Đặt xe trực tuyến Grab - Uber đường dài</h2>*@
<div class="content-heading text-center">
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="min-height:667px;">
        <div class="col-sm-12">
            <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;opacity: 0.9;filter: alpha(opacity=50);">
                <h2 style="color:#337ab7;">Đặt xe trực tuyến Grab - Uber đường dài</h2>
                <div class="col-sm-6">
                    <p style="text-align:left;margin-top:5px;">Điểm đi *</p>
                    <input id="car_from" name="car_from" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." />
                    <input id="lon1" name="lon1" value="" type="hidden"><input id="lat1" name="lat1" value="" type="hidden">
                    <p style="text-align:left;margin-top:5px;">Điểm đến *</p>
                    <input id="car_to" name="car_to" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." onblur="CreateLine();"/>
                    <input id="lon2" name="lon2" value="" type="hidden"><input id="lat2" name="lat2" value="" type="hidden">
                    <p style="text-align:left;margin-top:5px;">Loại xe *</p>
                    <select id="car_type" class="form-control"><option value="5">5 chỗ</option><option value="8">8 chỗ</option><option value="16">16 chỗ</option><option value="30">30 chỗ</option><option value="45">45 chỗ</option></select>
                    <p style="text-align:left;margin-top:5px;">Hình thức thuê *</p>
                    <select id="car_hire_type" class="form-control"><option value="Khứ hồi">Khứ hồi</option><option value="Một chiều">Một chiều</option><option value="Sân bay">Sân bay</option><option value="Chiều về">Chiều về</option><option value="Đi chung">Đi chung</option></select>
                    <p style="text-align:left;margin-top:5px;">Đối tượng thuê *</p>
                    <select id="car_who_hire" class="form-control"><option value="Khách thuê xe">Khách thuê xe</option><option value="Văn phòng xe">Văn phòng xe</option><option value="Nhà xe/Lái xe">Nhà xe/Lái xe</option><option value="Lễ tân/Công ty du lịch">Lễ tân/Công ty du lịch</option><option value="Doanh nghiệp/Tổ chức">Doanh nghiệp/Tổ chức</option></select>
                    <p style="text-align:left;margin-top:5px;">Ngày giờ đi *</p>
                    <input class="form-control" id="from_datetime" placeholder="Chọn ngày giờ" type="text">
                    <p style="text-align:left;margin-top:5px;">Ngày giờ về *</p>
                    <input class="form-control" id="to_datetime" placeholder="Chọn ngày giờ" type="text">
                </div>
                <div class="col-sm-6">
                    <div class="map_canvas" id="map" style="width:100%;height:550px;border:0"></div>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29768.399237825946!2d105.82972151548583!3d21.15041217448257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135011877263c29%3A0xfed63a1860e09572!2zdHQuIMSQw7RuZyBBbmgsIMSQw7RuZyBBbmgsIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1470755312032" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                </div>
                <input type="button" value="XÁC NHẬN" class="btn btn-primary btn-block" onclick="booking();" style="margin-bottom:5px;" id="btnregister1" />
            </div>
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->
<div class="row" style="background:#ffffff;color:#000000;position:fixed;width:100%;top:25%;padding-left:5px;padding-right:5px;text-align:left;width:auto;display:none;z-index:1001;" id="detail">
    <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2>Bạn đã đặt xe thành công! Lái xe của chúng tôi sẽ liên hệ lại sớm nhất.</h2></div>
    @*<div style="text-align:center;" id="loading" class="standardcss"><img src="/Content/Images/loading.gif" style="height:50px;width:50px;" /></div>*@
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Điểm đi:</b> <span id="f1"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Điểm đến:</b> <span id="f2"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Loại xe:</b> <span id="f3"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Hình thức thuê:</b> <span id="f4"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Đối tượng thuê:</b> <span id="f5"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Ngày giờ:</b> <span id="f6"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>GIÁ ƯỚC TÍNH:</b> <span id="f7"></span> đồng</div>
    <div style="text-align:center;padding-top:25px;" class="standardcss"><a href="#" style="text-decoration:none;background-color:#4e612a;color:#c2bd3a;padding-left:15px;padding-bottom:5px;padding-top:5px;padding-right:15px;" onclick="$('#detail').hide();" id="hotlinephone3">THOÁT</a></div>
</div>     
<script>
    $('#from_datetime').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
    });
    $('#to_datetime').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
    });
    var d = new Date();
    var s = d.toLocaleString();
    $('#from_datetime').datetimepicker({ value: s, step: 10 });
    $('#to_datetime').datetimepicker({ value: s, step: 10 });
    $(function () {
        //var latlng = new google.maps.LatLng(21.0333, 105.85);
        //var mapOptions = {
        //    zoom: 8,
        //    center: latlng,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //}
        var options = {
            map: ".map_canvas"
        };
        $("#car_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon1").val(result.geometry.location.lng());
              $("#lat1").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        $("#car_to").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon2").val(result.geometry.location.lng());
              $("#lat2").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        initmap();
    });
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        //alert("0k");
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
    }
    function initmap() {
        //var mapOptions = {
        //    zoom: 8,
        //    center: latlng,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //}
        //var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 21.0333, lng: 105.85 },
            zoom: 10
        });
        var infoWindow = new google.maps.InfoWindow({ map: map });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Vị trí của bạn.');
                map.setCenter(pos);

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());

            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    function booking() {
        var formdata = new FormData(); //FormData object
        var from_datetime = document.getElementById("from_datetime").value;
        if (document.getElementById("car_from").value == "" || document.getElementById("lon1").value == "") {
            alert("Nhập điểm đi!");
            document.getElementById("car_from").focus();
            return;
        }
        if (document.getElementById("car_to").value == "" || document.getElementById("lon2").value == "") {
            alert("Nhập điểm đến!");
            document.getElementById("car_to").focus();
            return;
        }
        if (document.getElementById("from_datetime").value == "") {
            alert("Ngày giờ đi!");
            document.getElementById("from_datetime").focus();
            return;
        }
        if (document.getElementById("to_datetime").value == "") {
            alert("Ngày giờ về!");
            document.getElementById("to_datetime").focus();
            return;
        }
        formdata.append("car_from", document.getElementById("car_from").value);
        formdata.append("car_to", document.getElementById("car_to").value);
        formdata.append("car_type", document.getElementById("car_type").value);
        formdata.append("car_hire_type", document.getElementById("car_hire_type").value);
        formdata.append("car_who_hire", document.getElementById("car_who_hire").value);
        formdata.append("from_datetime", document.getElementById("from_datetime").value);
        formdata.append("to_datetime", document.getElementById("to_datetime").value);
        formdata.append("lat1", document.getElementById("lat1").value);
        formdata.append("lon1", document.getElementById("lon1").value);
        formdata.append("lat2", document.getElementById("lat2").value);
        formdata.append("lon2", document.getElementById("lon2").value);
        document.getElementById("btnregister1").value = "Đang đăng ký xin chờ....";
        document.getElementById("btnregister1").disabled = true;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Api/Booking');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") {
                    $("#detail").show();
                    $("#f1").html(document.getElementById("car_from").value);
                    $("#f2").html(document.getElementById("car_to").value);
                    $("#f3").html(document.getElementById("car_type").value);
                    $("#f4").html(document.getElementById("car_hire_type").value);
                    $("#f5").html(document.getElementById("car_who_hire").value);
                    $("#f6").html("Giờ đi " + document.getElementById("from_datetime").value + ", giờ về " + document.getElementById("to_datetime").value);
                    $("#f7").html(xhr.responseText);
                } else {
                    alert("Hiện tổng đài đang bận, xin quay lại sau!");
                }
                document.getElementById("btnregister1").value = "XÁC NHẬN";
                document.getElementById("btnregister1").disabled = false;
            }
        }
    }
    function CreateLine() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(document.getElementById('lat1').value, document.getElementById('lon1').value);
        var mapOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var address = document.getElementById('car_from').value;
        var address2 = document.getElementById('car_to').value;

        var temp, temp2;

        geocoder.geocode({'address': address }, function (results, status) {
            temp = results[0].geometry.location;
            geocoder.geocode({ 'address': address2 }, function (results, status) {
                temp2 = results[0].geometry.location;

                var route = [
                  temp,
                  temp2
                ];

                var polyline = new google.maps.Polyline({
                    path: route,
                    strokeColor: "#ff0000",
                    strokeOpacity: 0.6,
                    strokeWeight: 5
                });

                polyline.setMap(map);
            });
        });
    }
    
</script>

@*<script>
    $(function () {
        var options = {
            map: ".map_canvas"
        };
        $("#car_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon1").val(result.geometry.location.lng());
              $("#lat1").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        $("#car_to").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon2").val(result.geometry.location.lng());
              $("#lat2").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
    });
</script>*@