@{
    ViewBag.Title = "Home Page";
}
@*<script type="text/javascript" src="/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Scripts/jquery-ui-1.8.24.js"></script>
<script src="/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">*@
<script src="/Scripts/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/jquery.datetimepicker.css" />
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.js"></script>

@*<h2>Đặt xe trực tuyến Grab - Uber đường dài</h2>*@
<div class="content-heading text-center">
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="min-height:667px;">
        <div class="col-sm-12">
            <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;opacity: 0.9;filter: alpha(opacity=50);">
                <h2 style="color:#337ab7;">Đặt xe trực tuyến Grab - Uber đường dài(Đang thử nghiệm)</h2>
                <div class="col-sm-6">
                    <p style="text-align:left;margin-top:5px;">Điểm đi *</p>
                    <input id="car_from" name="car_from" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." type="text"/>
                    <input id="lon1" name="lon1" value="" type="hidden"><input id="lat1" name="lat1" value="" type="hidden">
                    <p style="text-align:left;margin-top:5px;">Điểm đến *</p>
                    <input id="car_to" name="car_to" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." onblur="CreateLine();" type="text" />
                    <input id="lon2" name="lon2" value="" type="hidden"><input id="lat2" name="lat2" value="" type="hidden">
                    <p style="text-align:left;margin-top:5px;">Loại xe *</p>
                    <select id="car_type" class="form-control">
                          @*<option value="5">5 chỗ</option><option value="8">8 chỗ</option><option value="16">16 chỗ</option><option value="30">30 chỗ</option><option value="45">45 chỗ</option>*@
                    </select>
                    <p style="text-align:left;margin-top:5px;">Hình thức thuê *</p>
                    <select id="car_hire_type" class="form-control" onchange="showairport();">
                        @*<option value="Khứ hồi">Khứ hồi</option><option value="Một chiều">Một chiều</option><option value="Sân bay">Sân bay</option><option value="Chiều về">Chiều về</option><option value="Đi chung">Đi chung</option>*@
                    </select>
                    <p style="text-align:left;margin-top:5px;">Đối tượng thuê *</p>
                    <select id="car_who_hire" class="form-control">
                        @*<option value="Khách thuê xe">Khách thuê xe</option><option value="Văn phòng xe">Văn phòng xe</option><option value="Nhà xe/Lái xe">Nhà xe/Lái xe</option><option value="Lễ tân/Công ty du lịch">Lễ tân/Công ty du lịch</option><option value="Doanh nghiệp/Tổ chức">Doanh nghiệp/Tổ chức</option>*@
                    </select>
                    <p style="text-align:left;margin-top:5px;">Ngày giờ đi *</p>
                    <input class="form-control" id="from_datetime" placeholder="Chọn ngày giờ" type="text">
                    <p style="text-align:left;margin-top:5px;">Ngày giờ về *</p>
                    <input class="form-control" id="to_datetime" placeholder="Chọn ngày giờ" type="text">
                </div>
                <div class="col-sm-6">
                    <div class="map_canvas" id="map" style="width:100%;height:550px;border:0"></div>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29768.399237825946!2d105.82972151548583!3d21.15041217448257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135011877263c29%3A0xfed63a1860e09572!2zdHQuIMSQw7RuZyBBbmgsIMSQw7RuZyBBbmgsIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1470755312032" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                </div>
                <input type="button" value="XÁC NHẬN" onclick="confirm();"  class="btn btn-primary btn-block" style="margin-bottom:5px;" id="btnregister111" />
            </div>
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->
<div class="row" style="background:#ffffff;color:#000000;position:fixed;width:75%;top:25%;padding-left:5px;padding-right:5px;text-align:left;display:none;z-index:1001;" id="detail">
    <div style="width:100%;text-align:center;color:#000000;" class="standardcss">
        <h2>Cám ơn quý khách đặt xe, thông tin đặt xe sẽ được lái xe đấu giá và liên hệ sớm nhất để quý khách có chuyến đi rẻ nhất và an toàn nhất</h2>
    </div>
    @*<div style="text-align:center;" id="loading" class="standardcss"><img src="/Content/Images/loading.gif" style="height:50px;width:50px;" /></div>*@
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Thông tin khách:</b> <span id="f01"></span>, <span id="f02"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Điểm đi:</b> <span id="f1"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Điểm đến:</b> <span id="f2"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Loại xe:</b> <span id="f3"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Hình thức thuê:</b> <span id="f4"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Đối tượng thuê:</b> <span id="f5"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Ngày giờ:</b> <span id="f6"></span></div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>Số Km ước tính:</b> <span id="fkm"></span> km</div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss"><b>GIÁ ƯỚC TÍNH:</b> <span id="f7"></span> đồng</div>
    <div style="border-bottom:1px solid #cecece;" class="standardcss" id="notice">
        <b>Ghi chú:</b><span style="font-style:italic;">- Mỗi ngày khách không đi quá 200km, giá phụ trội km là 50.000/1h, mỗi ngày đi thêm tính 1.200.000 đồng đi ngoại tỉnh đường dài.</span>
    </div>
    <div style="text-align:center;padding-top:25px;" class="standardcss"><a href="#" style="text-decoration:none;background-color:#4e612a;color:#c2bd3a;padding-left:15px;padding-bottom:5px;padding-top:5px;padding-right:15px;" onclick="$('#detail').hide();" id="hotlinephone3">THOÁT</a></div>
</div>  
<div class="row" style="width:75%;top:25%;background:#ffffff;color:#000000;position:fixed;padding-left:5px;padding-right:5px;text-align:left;display:none;z-index:1002;" id="confirm">
    <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2>Thông tin khách hàng</h2></div>
    <p style="text-align:left;margin-top:5px;">Họ tên *</p>
    <input id="name" name="name" class="form-control" placeholder="nhập họ tên" type="text" value="@ViewBag.name"/>
    <p style="text-align:left;margin-top:5px;">Số điện thoại *</p>
    <input id="phone" name="phone" class="form-control" placeholder="nhập" type="text" value="@ViewBag.phone" />
    <input type="button" value="ĐẶT XE" class="btn btn-primary btn-block" onclick="booking();" style="margin-bottom:5px;" id="btnregister1" />
</div>    
<div class="row" style="width:75%;top:25%;background:#ffffff;color:#000000;position:fixed;padding-left:5px;padding-right:5px;text-align:left;display:none;z-index:1002;" id="airport">
    <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2>Chọn sân bay</h2></div>
    <p style="text-align:left;margin-top:5px;">Chọn sân bay *</p>
    <select id="sairport" class="form-control"></select>
    <p style="text-align:left;margin-top:5px;">Chọn kiểu đi sân bay (đi/về/khứ hồi?) *</p>
    <select id="sairporttype" class="form-control">
        <option value="" selected>Chọn</option>
        <option value="thành phố đi sân bay">thành phố đi sân bay</option>
        <option value="sân bay về thành phố">sân bay về thành phố</option>
        <option value="khứ hồi">khứ hồi</option>
    </select>
    <input type="button" value="ĐẶT XE" class="btn btn-primary btn-block" onclick="setairport();" style="margin-bottom:5px;" id="btnregister2" />
</div>  
<script>
    //alert($.number(1000000, 0, ','));
    $('#from_datetime').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
    });
    $('#to_datetime').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
    });
    var d = new Date();
    var s = d.toLocaleString();
    $('#from_datetime').datetimepicker({ value: s, step: 10 });
    $('#to_datetime').datetimepicker({ value: s, step: 10 });
    $(function () {
        //var latlng = new google.maps.LatLng(21.0333, 105.85);
        //var mapOptions = {
        //    zoom: 8,
        //    center: latlng,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //}
        var options = {
            map: ".map_canvas"
        };
        $("#car_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon1").val(result.geometry.location.lng());
              $("#lat1").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        $("#car_to").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon2").val(result.geometry.location.lng());
              $("#lat2").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        initmap();
    });
    $.ajax({
        url: "/Api/getCarType",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        var preProvin = json_parsed.news[0].provin;
        $("#car_type").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i];

                //alert(name);
                if (name == "4") {
                    $("#car_type").append("<option value='" + json_parsed.news[i] + "'>" + json_parsed.news[i] + " chỗ(giá siêu rẻ, không cốp)</option>");
                } else  if (name == "5") {
                    $("#car_type").append("<option value='" + json_parsed.news[i] + "'>" + json_parsed.news[i] + " chỗ(có cốp)</option>");
                } else{
                    $("#car_type").append("<option value='" + json_parsed.news[i] + "'>" + json_parsed.news[i]+ " chỗ</option>");
                }
            }
        }
        
    });
    $.ajax({
        url: "/Api/getCarHireType",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        var preProvin = json_parsed.news[0].provin;
        $("#car_hire_type").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i];
                //alert(name);
                $("#car_hire_type").append("<option value='" + json_parsed.news[i] + "'>" + json_parsed.news[i] + "</option>");
            }
        }

    });
    $.ajax({
        url: "/Api/getCarWhoHire",
        cache: false
    }).done(function (html) {
        
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        var preProvin = json_parsed.news[0].provin;
        $("#car_who_hire").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i];
                $("#car_who_hire").append("<option value='" + json_parsed.news[i] + "'>" + json_parsed.news[i] + "</option>");
            }
        }

    });
    $.ajax({
        url: "/Api/getAirportName",
        cache: false
    }).done(function (html) {
        //alert(html);
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        var preProvin = json_parsed.news[0].provin;
        $("#sairport").html("<option value=''>Chọn</option>");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i].name;
                //alert(name);
                $("#sairport").append("<option value='" + name + "'>" + name + "</option>");
            }
        }

    });
    function showairport() {
        if ($("#car_hire_type").val().toString().toLowerCase().indexOf("sân bay") >= 0) {
            $("#airport").show();
        }
    }
    function setairport() {
        if ($("#sairport").val() == "") {
            alert("Chọn sân bay!");
            $("#sairport").focus();
            return;
        }
        if ($("#sairporttype").val() == "") {
            alert("Chọn kiểu đi sân bay!");
            $("#sairporttype").focus();
            return;
        }
        
        $.ajax({
            url: "/Api/getLonLatAirport?airport="+$("#sairport").val(),
            cache: false
        }).done(function (html) {
            var news = '{"news":' + html + '}';
            var json_parsed = $.parseJSON(news);
            var lon1 = json_parsed.news[0].lon1;
            var lat1 = json_parsed.news[0].lat1;
            var lon2 = json_parsed.news[0].lon2;
            var lat2 = json_parsed.news[0].lat2;
            document.getElementById("lon1").value = lon1;
            document.getElementById("lat1").value = lat1;
            document.getElementById("lon2").value = lon2;
            document.getElementById("lat2").value = lat2;
            document.getElementById("car_from").value = $("#sairport").val();
            document.getElementById("car_to").value = $("#sairporttype").val();
            booking();
            $("#airport").hide();
        });
    }
    var arrNotice = [];
    $.ajax({
        url: "/Api/getNotice",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i].name;
                arrNotice.push(name);
                //alert(arrNotice[i]);
            }
        }
    });
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        //alert("0k");
        infoWindow.setPosition(pos);
        //infoWindow.setContent(browserHasGeolocation ?
        //                      'Error: The Geolocation service failed.' :
        //                      'Error: Your browser doesn\'t support geolocation.');
    }
    function initmap() {
        //var mapOptions = {
        //    zoom: 8,
        //    center: latlng,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //}
        //var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 21.0333, lng: 105.85 },
            zoom: 10
        });
        var infoWindow = new google.maps.InfoWindow({ map: map });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Vị trí của bạn.');
                map.setCenter(pos);

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());

            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    function confirm() {
        if (document.getElementById("name").value != "" && document.getElementById("phone").value != "") {
            booking();
        } else {
            $("#confirm").show();
        }
    }
    function booking() {
        var formdata = new FormData(); //FormData object
        var from_datetime = document.getElementById("from_datetime").value;
        
        if (document.getElementById("car_hire_type").value.toLowerCase().indexOf("sân bay")<0 && (document.getElementById("car_from").value == "" || document.getElementById("lon1").value == "")) {
            alert("Nhập điểm đi!");
            document.getElementById("car_from").focus();
            return;
        }
       
        if (document.getElementById("car_hire_type").value.toLowerCase().indexOf("sân bay") < 0 && (document.getElementById("car_to").value == "" || document.getElementById("lon2").value == "")) {
            alert("Nhập điểm đến!");
            document.getElementById("car_to").focus();
            return;
        }
       
        if (document.getElementById("from_datetime").value == "") {
            alert("Ngày giờ đi!");
            document.getElementById("from_datetime").focus();
            return;
        }
        if (document.getElementById("to_datetime").value == "") {
            alert("Ngày giờ về!");
            document.getElementById("to_datetime").focus();
            return;
        }
        var date_one = new Date(document.getElementById("from_datetime").value).getTime();
        var date_two = new Date(document.getElementById("to_datetime").value).getTime();
        if (date_two <= date_one) {
            alert("Ngày giờ về phải >= ngày giờ đi!");
            document.getElementById("to_datetime").focus();
            return;
        }
        
        var timeStamp_date_two = new Date(date_two).getTime()

        if (document.getElementById("name").value == "") {
            alert("Nhập họ tên!");
            document.getElementById("name").focus();
            return;
        }
        if (document.getElementById("phone").value == "") {
            alert("Nhập số điện thoại!");
            document.getElementById("phone").focus();
            return;
        }

      
        formdata.append("car_from", document.getElementById("car_from").value);
        formdata.append("car_to", document.getElementById("car_to").value);
        formdata.append("car_type", document.getElementById("car_type").value);
        formdata.append("car_hire_type", document.getElementById("car_hire_type").value);
        formdata.append("car_who_hire", document.getElementById("car_who_hire").value);
        formdata.append("from_datetime", document.getElementById("from_datetime").value);
        formdata.append("to_datetime", document.getElementById("to_datetime").value);
        formdata.append("lat1", document.getElementById("lat1").value);
        formdata.append("lon1", document.getElementById("lon1").value);
        formdata.append("lat2", document.getElementById("lat2").value);
        formdata.append("lon2", document.getElementById("lon2").value);
        formdata.append("name", document.getElementById("name").value);
        formdata.append("phone", document.getElementById("phone").value);
        formdata.append("airport_name", document.getElementById("sairport").value);
        formdata.append("airport_way", document.getElementById("sairporttype").value);
        document.getElementById("btnregister111").value = "Đang đăng ký xin chờ....";
        document.getElementById("btnregister111").disabled = true;
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Api/Booking');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "-1") {
                    var info = xhr.responseText.split('_');
                    $("#f7").html("Đang tính...");
                    $("#confirm").hide();
                    $("#airport").hide();
                    $("#detail").show();
                    $("#f01").html(document.getElementById("name").value); $("#f02").html(document.getElementById("phone").value);
                    $("#f1").html(document.getElementById("car_from").value);
                    $("#f2").html(document.getElementById("car_to").value);
                    $("#f3").html(document.getElementById("car_type").value);
                    $("#f4").html(document.getElementById("car_hire_type").value);
                    $("#f5").html(document.getElementById("car_who_hire").value);
                    $("#f6").html("Giờ đi " + document.getElementById("from_datetime").value + ", giờ về " + document.getElementById("to_datetime").value);
                    $("#f7").html($.number(info[0], 0, ','));
                    document.getElementById('fkm').innerHTML = info[1];
                    $.ajax({
                        url: "/Api/setcookie?name=" + document.getElementById("name").value + "&phone=" + document.getElementById("phone").value,
                            cache: false
                        }).done(function( html ) {
                            
                        });
                    document.getElementById('notice').innerHTML = "<b>Ghi chú:</b><span style=\"font-style:italic;\">";
                    
                    if ($("#car_who_hire").val().toString().toLowerCase().indexOf("khách thuê") < 0) {
                        $("#notice").append("<p>-" + arrNotice[2] + "</p>");
                    }
                    if ($("#car_hire_type").val().toString().toLowerCase().indexOf("sân bay") < 0) {
                        $("#notice").append("<p>-" + arrNotice[1] + "</p>");
                    }
                    if ($("#car_hire_type").val().toString().toLowerCase().indexOf("khứ hồi") >= 0) {                        
                        $("#notice").append("<p>-Dựa trên giá cơ bản là " + $.number(info[2], 0, ',') + "/km</p>");
                        $("#notice").append("<p>-Số tiền tính thêm khi đi quá 1 ngày là " + $.number(info[3], 0, ',') + "/ngày</p>");
                        $("#notice").append("<p>-" + arrNotice[0] + "</p>");
                    }
                    $("#notice").append("<span>");
                    if ($("#car_hire_type").val().toString().toLowerCase().indexOf("sân bay") >= 0) {
                        $("#notice").hide();
                    }
                } else {
                    alert("Hiện tổng đài đang bận, xin quay lại sau!");
                }
                document.getElementById("btnregister111").value = "XÁC NHẬN";
                document.getElementById("btnregister111").disabled = false;
            }
        }
    }
    function CreateLine() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var latlng = new google.maps.LatLng(document.getElementById('lat1').value, document.getElementById('lon1').value);
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: latlng
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
        
    }
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var selectedMode = "DRIVING";
        var latlng1 = new google.maps.LatLng(document.getElementById('lat1').value, document.getElementById('lon1').value);
        var latlng2 = new google.maps.LatLng(document.getElementById('lat2').value, document.getElementById('lon2').value);
        directionsService.route({
            origin: latlng1,  // Diem di.
            destination: latlng2,  // Diem den
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode[selectedMode]
        }, function (response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                //window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>

@*<script>
    $(function () {
        var options = {
            map: ".map_canvas"
        };
        $("#car_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon1").val(result.geometry.location.lng());
              $("#lat1").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        $("#car_to").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon2").val(result.geometry.location.lng());
              $("#lat2").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
    });
</script>*@