@{
    ViewBag.Title = "Home Page";
}
@*<h2>Đặt xe trực tuyến Grab - Uber đường dài</h2>*@
<div class="content-heading text-center">
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="min-height:667px;">
        <div class="col-sm-12">
            <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
                <h2 style="color:#337ab7;">Đặt xe trực tuyến Grab - Uber đường dài</h2>
                <div class="col-sm-8">
                    <p style="text-align:left;margin-top:5px;">Điểm đi *</p>
                    <input id="name" name="name" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." />
                    <p style="text-align:left;margin-top:5px;">Điểm đến *</p>
                    <input id="phone" name="phone" class="form-control" placeholder="quận huyện, đường phố, thị trấn..." />
                </div>
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29768.399237825946!2d105.82972151548583!3d21.15041217448257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135011877263c29%3A0xfed63a1860e09572!2zdHQuIMSQw7RuZyBBbmgsIMSQw7RuZyBBbmgsIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1470755312032" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <input type="button" value="XÁC NHẬN" class="btn btn-primary btn-block" onclick="booking();" style="margin-bottom:5px;" id="btnregister1" />
            </div>

        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->