
@{
    ViewBag.Title = "Policy of user and data sharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policy of user and data sharing for android.permission.READ_PHONE_STATE, android.permission.GET_ACCOUNTS</h2>
<p>
    We have to use these two rights so that the driver and the passenger get their phone number and contact each other</p>
    <p>
    - Therefore, for drivers and passengers to let the app read their phone number from which the driver and the passenger can call and contact each other, the application of the new car to complete their tasks.
</p>
    <p>
    - In addition, when a successful car reservation is made, we must notify the driver and passenger of the vehicle by the notice of reminder.
</p>
