
@{
    ViewBag.Title = "Xem Bảng Kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

<h2>@ViewBag.Title</h2>
<div class="divSearch">
    <div><input id="car_number" type="text" class="ipH26" placeholder="Nhập biển số xe" onkeyup="searchCarNumber();" autocomplete="off"></div>    
    <div><span>Từ Ngày: </span><input type="text" id="fromDate" class="ipH26" style="width:110px" /></div>
    <div><span>Đến Ngày: </span><input type="text" id="toDate" class="ipH26" style="width:110px" /></div>    
    <div class="divCheckboxes">
        <input type="checkbox" id="chkDetail" /> <span>Hiển chi tiết</span>        
    </div>
    <div><input id="btnSearch" type="button" onclick="searchTran();" value="Tìm Kiếm" class="btn btn-default btnH26" /><input id="btnSearchEx" type="button" onclick="ExportExcel();" value="Export Excel" class="btn btn-default btnH26" style="float:right;"/></div>    
</div>

<div id="tranResult" ></div>

<style type="text/css">    
    .divSearch div {
        float:left;margin:0 5px 3px 0;
    }        
    .ipH26 {height:26px; color:black !important;}
    .btnH26 {height: 26px;padding-top:3px;}
    .divCheckboxes input, .divCheckboxes span {
        vertical-align: middle;margin: 0px !important;
    }
    #tranResult {min-height:300px;width:100%;clear:both;}
    .ui-autocomplete {
        max-height: 300px !important;overflow-y: auto !important;overflow-x: hidden !important;        
    }
</style>
<script type="text/javascript">
    var url_uploadFile = '@Url.Action("uploadFile", "Transaction")', url_searchCarNumber = '@Url.Action("searchCarNumber", "Transaction")';
    var url_searchTran = '@Url.Action("searchTran", "Transaction")';
</script>
<script type="text/javascript" src="~/Scripts/viewTrans.js"></script>
<script>
    function ExportExcel() {
        var url = "";
        if (document.getElementById("fromDate").value == "") {
            alert("Nhập từ ngày!");
            document.getElementById("fromDate").focus();
            return;
        }
        if (document.getElementById("toDate").value == "") {
            alert("Nhập đến ngày!");
            document.getElementById("toDate").focus();
            return;
        }
        url += "from_date=" + document.getElementById("fromDate").value + "&" + "to_date=" + document.getElementById("toDate").value;

        window.open("/Home/baocao?" + url, "_blank");
    }
</script>
