
@{
    ViewBag.Title = "Tra cứu lương tài xế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .divSearch div {
        float: left;
        margin: 0 5px 3px 0;
    }

    .ipH26 {
        height: 26px;
        color: black !important;
    }

    .btnH26 {
        height: 26px;
        padding-top: 3px;
    }

    .divCheckboxes input, .divCheckboxes span {
        vertical-align: middle;
        margin: 0px !important;
    }

    #tranResult {
        min-height: 300px;
        width: 100%;
        clear: both;
    }

    .ui-autocomplete {
        max-height: 300px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
</style>
<h2>@ViewBag.title</h2>
<div class="divSearch">
    <div><b>Tìm Kiếm</b></div>
    <div><input id="car_number" type="text" class="ipH26" placeholder="Nhập biển số xe" onkeyup="searchCarNumberBank();" autocomplete="off"></div>
    <div><span>Từ Ngày: </span><input type="text" id="fromDate" class="ipH26" style="width:110px" /></div>
    <div><span>Đến Ngày: </span><input type="text" id="toDate" class="ipH26" style="width:110px" /></div>
    <div><input id="btnSearch" type="button" onclick="searchTranSalary2();" value="Tìm Kiếm" class="btn btn-default btnH26" /></div>
</div>

<div id="tranResult"></div>

<script type="text/javascript">
    var url_searchCarNumber = '@Url.Action("searchCarNumberBank", "Transaction")';
    var url_searchTran = '@Url.Action("searchTranSalary", "Transaction")';
</script>
<script type="text/javascript" src="~/Scripts/transaction.js"></script>

<script>
    function searchTranSalary2() {
        if (document.getElementById("car_number").value == "") {
            alert("Nhập biển số!");
            document.getElementById("car_number").focus();
            return;
        }
        searchTranSalary();
    }
</script>
