
@{
    ViewBag.Title = "ImportExcel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ImportExcel</h2>
<input id="fileUpload" type="file" multiple /> <br /> 
<input type="button" onclick="uploadFile();" value="Tải Lên" class="btn btn-default" />
