
@{
    ViewBag.Title = "Quản Lý Bảng Kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="divSearch">
    <div>Chọn bảng kê: </div>
    <div><input id="fileUpload" type="file" multiple /></div>
    <div><input type="button" onclick="uploadFile();" value="Tải Lên" class="btn btn-default" id="uploadfile" /></div>
    <div><input type="button" onclick="deleteFile();" value="Xóa sạch dữ liệu!!!" class="btn btn-default" id="delall"/></div>
</div>

<div class="divSearch">
    <div><input id="car_number" type="text" class="ipH26" placeholder="Nhập biển số xe" onkeyup="searchCarNumber();" autocomplete="off"></div>
    <div><span>Từ Ngày: </span><input type="text" id="fromDate" class="ipH26" style="width:110px" /></div>
    <div><span>Đến Ngày: </span><input type="text" id="toDate" class="ipH26" style="width:110px" /></div>
    <div class="divCheckboxes">
        <input type="checkbox" id="chkDetail" /> <span>Hiển chi tiết</span>
    </div>
    <div><input id="btnSearch" type="button" onclick="searchTran();" value="Tìm Kiếm" class="btn btn-default btnH26" /></div>
</div>

<div id="tranResult"></div>

<script type="text/javascript">
    var url_uploadFile = '@Url.Action("uploadFile", "Transaction")', url_searchCarNumber = '@Url.Action("searchCarNumber", "Transaction")';
    var url_searchTran = '@Url.Action("searchTran", "Transaction")';
</script>
<script type="text/javascript" src="~/Scripts/transaction.js"></script>
<script>searchTran();</script>