@{
    ViewBag.Title = "Upload công nợ tài xế";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>Lưu ý: File định dạng nên là file có đuôi .xlsx, nếu upload nhầm có thể chọn ngày để xóa</h4>
<div class="divSearch">
    <div>Chọn file công nợ tài xế (<a href="~/Content/Images/tempown.xlsx">theo mẫu này (<span style="color:red;">Nếu chưa đúng mẫu này thì mở file đã xuất ra save as dưới dạng đuôi .xlsx)</span></a> )</div>
    <div><input id="fileUpload" type="file" multiple /></div>
    <div><input type="button" onclick="uploadFileOwn();" value="Tải Lên" class="btn btn-default" id="uploadfileown"></div>
    <div><input type="button" onclick="deleteFileOwn();" value="Xóa dữ liệu!!!" class="btn btn-default" id="delallown" /></div>
</div>

<div class="divSearch">
    <div><b>Tìm Kiếm</b></div>
    <div><input id="car_number" type="text" class="ipH26" placeholder="Nhập biển số xe" onkeyup="searchCarNumber();" autocomplete="off"></div>
    <div><span>Từ Ngày: </span><input type="text" id="fromDate" class="ipH26" style="width:110px" /></div>
    <div><span>Đến Ngày: </span><input type="text" id="toDate" class="ipH26" style="width:110px" /></div>
    <div><input id="btnSearch" type="button" onclick="searchTranOwn2();" value="Tìm Kiếm" class="btn btn-default btnH26" /></div>
</div>

<div id="tranResult"></div>

<script type="text/javascript">
    var url_uploadFile = '@Url.Action("uploadFileOwn", "Transaction")', url_searchCarNumber = '@Url.Action("searchCarNumber", "Transaction")';
    var url_searchTran = '@Url.Action("searchTranOwn", "Transaction")';
</script>
<script type="text/javascript" src="~/Scripts/transaction.js"></script>
<script>searchTranOwn();</script>