<div id="notificationDialog" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Xác Nhận</div>
    <div class="dDialogContent">
        <input type="hidden" id="notifyAction" />
        <br />
        <label id="lbNotification"></label>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="notifyOK()">Đồng Ý</button>
        <button type="button" class="btn btn-primary" onclick="closeDDialog('#notificationDialog')">Hủy</button>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/commonFn.js"></script>